<header class="header">
	<div class="header__top">
		<div class="container">
			<div class="header__top-inner space-between">
				<nav class="menu">
					<ul class="menu__list flex-container">
						<li class="menu__item">
							<a href="#" class="menu__link">
								Магазины
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								Акции
							</a>
						</li>
						<li class="menu__item">
							<a href="#" class="menu__link">
								Доставка и оплата
							</a>
						</li>
					</ul>
				</nav>
				<a class="logo" href="#">
					<img class="logo__img" src="icons/logo.svg" alt="DiveMoto" />
				</a>
				<div class="header__box flex-container">
					<p class="header__adress">
						Москва, ул. Науки 25
					</p>
					<ul class="user-list flex-container">
						<li class="user-list__item">
							<a class="user-list__link" href="#">
								<img src="icons/header/heart.svg" alt="heart" />
							</a>
						</li>
						<li class="user-list__item">
							<a class="user-list__link" href="#">
								<img src="icons/header/person.svg" alt="person" />
							</a>
						</li>
						<li class="user-list__item">
							<a class="user-list__link basket" href="#">
								<img src="icons/header/cart.svg" alt="cart" />
								<div class="basket__num">1</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="container">
			<ul class="menu-categories space-between">
				<li class="menu-categories__item">
					<a href="#" class="menu-categories__link">
						Квадроциклы
					</a>
				</li>
				<li class="menu-categories__item">
					<a href="#" class="menu-categories__link">
						Катера
					</a>
				</li>
				<li class="menu-categories__item">
					<a href="#" class="menu-categories__link">
						Гидроциклы
					</a>
				</li>
				<li class="menu-categories__item">
					<a href="#" class="menu-categories__link">
						Лодки
					</a>
				</li>
				<li class="menu-categories__item">
					<a href="#" class="menu-categories__link">
						Вездеходы
					</a>
				</li>
				<li class="menu-categories__item">
					<a href="#" class="menu-categories__link">
						Снегоходы
					</a>
				</li>
				<li class="menu-categories__item">
					<a href="#" class="menu-categories__link">
						Двигатели
					</a>
				</li>
				<li class="menu-categories__item">
					<a href="#" class="menu-categories__link">
						Запчасти
					</a>
				</li>
			</ul>
		</div>
	</div>
</header>