@import "base/variables";
@import "base/nullstyle";
@import "base/mixins";
@import "base/media_mixin";
@import "base/flex_helper";
@import "base/fonts";
@import "base/slick";

* {
	font-family: $main-font;
}

.page-section {
	margin-bottom: 80px;
}

.container {
	position: relative;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/user-list";
@import "blocks/logo";
@import "blocks/menu-categories";
@import "blocks/banner-section";
@import "blocks/buttons";
@import "blocks/search";
@import "blocks/title";
@import "blocks/footer";
